/* Clears Default text settings from browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
/* apply a background for the header */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
}

/* h1 font stylizing and formatting */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

/* all <a> header elements text color */
header a {
    color: #fce138;
}

/* formatting for the nav section */
header nav {
    float: right;
    margin: 7px 0;
}

/* putting nav elements inline */
header nav ul li {
    display: inline;
}

/* stylizing the nav elements */
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/* style for body text */
body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}

/* Created a background for the footer */
footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}

/* Styles first part of footer */
footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

/* moves bottom of footer to right*/
footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

/* footer <a> elements color */
footer a {
    color: #024e76;
}

/* Section Style */
section {
    padding: 60px;
}


/* HERO STYLES */
/* Style for the Hero */
.hero {
    background-image: url("../images/hero-bg.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Hero Form Style*/
.hero-form {
    background-color: #fce138;
    color:  #024e76;
    width: 500px;
    padding: 20px;
    border: solid 3px #024e76;
    position: absolute;
    bottom: 120px;
    right: 140px;
}

/* Hero Form h3 Style */
.hero-form h3 {
    margin: 0px;
    font-size: 24px;
}

/* Hero form p Style */
.hero-form p {
    margin:5px 0 15px 0;
}

/* Hero Form input Style */
.form-input {
    border: 1px;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
}

/* Hero Form Label Style */
.hero-form label {
    margin: 0 5px;
}

/* Hero Form Button */
.hero-form button {
    color: #fce138;
    background-color: #024e76;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}
/* HERO STYLES END */

/* What we do Style */
.intro {
    text-align: center;
}

.intro p {
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
}

/* What you do section Style */
.steps {
    text-align: center;
    background: #fce138;
}

.steps div {
    margin-bottom: 80px;
}

.steps img {
    width: 15%;
    margin: 10px 0;
}

.steps h3 {
    color: #024e76;
    font-size: 46px;
    margin-top: 10px;
}

.steps p {
    color: #39a6b2;
    font-size: 23px;
}

.steps span {
    font-size: 38px;
}


/* Title Style Default */
.section-title {
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
}
  
.primary-border {
    border-color: #fce138;
}
  
.secondary-border {
    border-color: #39a6b2;
}